
.limitSet {
    margin-bottom: 20px;
  }
  .limitSet .limit-box {
    background: #fff;
  }
  .limitSet .body {
    padding: 20px;
    box-sizing: border-box;
  }
  .limitSet .body .checkbox_f_border{
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
  }
  .limitSet .body .checkbox_c_border{
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
  }
  .rightBorder{
    border-right: 1px solid #e4e4e4;
  }
  
  /* limitSet save 权限设置Btn  */
  .limitSet .saveBtn{
    width: 100px;
    margin: 30px auto;
  }
  .limitSet .saveBtn button{
    background: #31c3a6;
    color: #fff;
  }

  /* roleSet addRole */
  .limitSet .body > .i_title {
    position: relative;
  }
  .limitSet .body .addLimit {
    position: absolute;
    top: 5px;
    right: 30px;
    color: #333;
  }